/week2/lab2/lab02/nbproject/private/
/week2/lab2/nbproject/private/
/week2/lab2/build/
/week3/lab03/nbproject/private/
/week3/lab03/build/
/week4/lab04/nbproject/private/
/week4/lab04/build/
/week5/lab05/nbproject/private/
/week5/lab05/build/
/week6/lab06/nbproject/private/
/week6/lab06/build/
